body {
    background-color: #F4F5F6;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    color: #FAFAFA;
}

.navbar-brand:hover {
    color: #DADADA;
}

.navbar-default .navbar-brand i {
    display: inline-block;
}

#guest-load-error, #company-load-error, #message-load-error, #send-message-error {
    display: none;
}

.select-wrapper span.caret {
    font-size: 0;
}

.material-icons {
    vertical-align: bottom !important;
}

#submit-button, #template-buttons {
    text-align: right;
}

#placeholder-button-div {
    text-align: center;
}

button {
    margin: 10px !important;
}

.placeholder-select h6 {
    font-size: 1.25rem;
}

div#message-viewer > div.card-panel {
    margin: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}